<label>Título</label>
<input type="text" name="titulo" value="<%= post.titulo %>"> 
<label>Gato</label>
<div>
    <select name="gato">
    <% gatos.forEach(gato => { %>
        <% if (gato.id === post.gato) { %> 
            <option selected label="<%= gato.nome %> " value="<%= gato.id  %>"></option> 
        <% } else { %>
            <option label="<%= gato.nome %>" value="<%= gato.id  %>"></option>
        <% } %>
    <%  });  %>
    </select>
</div>
<div>
    <label>Data de Publicação</label>
    <input type="date" name="data_publicacao" 
           value="<%= blog_post.data_publicacao == null ? '' : blog_post.data_publicacao.toISOString().split('T') %> "> <!-- obter a data sem o horário da publicação -->
</div>
<div>
    <label>Imagem de capa</label>
    <input type="file" name="capa_miniatura">
</div>
<div>
    <label for="texto"> Me conte sua história de hoje...(Texto)</label>
    <textarea id="texto" name="texto"><%= blog_post.texto %> </textarea>
</div>